.pointer {
  cursor: pointer;
}

.table {
  border-radius: 5px;
  float: none;
}

.white-box {
  width: 500px;
  height: 100px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.container {
  padding-bottom: 70px;
  padding-top: 100px;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.table thead th {
  vertical-align: unset;
  border-bottom: 2px solid #dee2e6;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: inherit;
  border-top: 1px solid #dee2e6;
}

*,
*:before,
*:after {
  box-sizing: unset;
}

.hide {
  visibility: hidden
}