.modal-content {
  overflow: hidden;
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
  /* height: 500px; */
  width: auto;
  /* position: absolute; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#infoForm .form-control {
  display: inline;
  width: auto
}

#infoForm input[type=text]:disabled {
  background: #ffffff;
}

.center {
  text-align: center;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.form-control {
  display: block;
  width: 65%;
  margin: auto;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-bottom: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.modal-header {
  background-color: #343a40;
  display: -webkit-box;
}

/* .reveal-modal {
  top: 30%;
} */