.jumbotron {
  background-color: #ffffff;
  padding: 4rem 4rem;
}

.pointer {
  cursor: pointer;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.jumbotron {
  background-color: #ffffff;
  padding: 4rem 4rem;
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
}

.svg-icon {
  vertical-align: bottom;
}

body.user-page #content * {
  box-sizing: border-box;
}

.user-card .user-links ul li a:visited {
  color: #666;
}

.user-card .user-links ul li a {
  color: #666;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.avatar-card {
  border: 1px solid #c8ccd0;
  border-radius: 4px;
  text-align: center;
  padding: 17px;
  box-shadow: inset 0 130px 0 #e7e8ea;
}

agm-map {
  height: 350px;
  width: 100%;
}

