<div class="inputColor">
  <h6>Employee Search</h6>
  <input type="text" [(ngModel)]="term" class="form-control mr-sm-2">
  <div *ngIf="term">
    <ul class="list-group">
      <div *ngFor="let item of employeeService.employees | filter:term">
        <div *ngIf="item">
          <app-detailmodal [selectedObj]="obj"></app-detailmodal>
        </div>
        <a class="action-btn" (click)="showDetails(item)">
          <li data-target="#detail-modal" class="pointer" data-toggle="modal">{{ item.firstname }}</li>
        </a>
      </div>
    </ul>
  </div>
</div>